@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Caveat:wght@400..700&family=Inter:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-bitter: "Bitter", serif;
  --font-instrument: "Instrument Sans", sans-serif;
  --font-caveat: "Caveat", cursive;
  --font-inter: "Inter", sans-serif;

  --color-brand-brown: #8d531e;
  --color-brand-blue: #003171;
  --color-brand-light: #fef5e3;
}

@layer base {
  :root {
    --background: white;
    --foreground: black;
    --radius: 0.5rem;
  }

  * {
    @apply border-gray-200;
  }

  body {
    @apply antialiased bg-white text-black;
    font-family: "Instrument Sans", sans-serif;
    overflow-x: hidden;
  }
}

/* Custom Utils for complex Figma layouts */
.hero-gradient {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
